{% extends "layout.html" %}
{% block content %}
{% if current_user.admin == False%}
<html>
<body onload="myform.submit()">
<div class="homepage">
<form method="POST" name ="myform" action="http://127.0.0.1:5000/setGoal">
<fieldset class="form-group">
<legend class="border-bottom mb-4">Transaction</legend>

<div class="form-group">
{{form.amount.label(class="form-control-label")}}
{% if form.amount.errors %}
{{form.amount(class="form-control form-control-lg is-invalid")}}
<input id="amount" name="amount" type="text" value="52"/>
<input type="submit"/>
<div class="invalid-feedback">
{%for error in form.amount.errors%}
<span>{{ error }}</span>
{% endfor %}
</div>
{% else %}
{{form.amount(class="form-control form-control-lg")}}
{% endif %}
</div>


<div class="form-group">
{{form.submit(class="btn btn-outline-info")}}
</div>
</form>
{% endif %}
{% endblock content %}
</div>
</body>
</html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

