{% extends "layout.html" %}


{% block content %}
{% if current_user.admin == False%}
<h1>Hello {{ current_user.username }} </h1>

<div class="homepage">
{% if current_user.confirmed %}
{% if current_user.is_authenticated %}


<form method="POST" action="">
<form class="form-group">
<fieldset class="form-group">
    {{ form.hidden_tag() }}
	{{form.example.label(class="form-control-label")}}
    {{form.example}}

 
</form>
<div class="form-group">
{{form.submit(class="btn btn-outline-info")}}
</div>
</form>



<h1>Display balace: £{{ user.accountBalance }} </h1>
<h1>Account Number: {{  user.accountNum }} </h1>


<div class="table table-sm table-hover table-bordered table-striped" >
Sent transactions:
<tr>
<table style="border: 1px solid black;">
  <th style="padding: 15px;">Date</th>
  <th style="padding: 15px;">Sender AN</th>
  <th style="padding: 15px;">Reciever AN</th>
  <th style="padding: 15px;">Amount</th>
  <th style="padding: 15px;">Transaction ID</th>
 </tr>

{% for transaction in transaction1 %}
<tr>
  <td style="padding: 15px;">{{transaction.pub_date}}</td>
  <td style="padding: 15px;">{{transaction.parent_id}}</td>
  <td style="padding: 15px;">{{transaction.recipient_id}}</td>
  <td style="padding: 15px;">£{{transaction.amount}}</td>
  <td style="padding: 15px;">{{transaction.id}}</td>
  {% endfor %}
  </tr>
 </table>
</div>
<div class="table table-sm table-hover table-bordered table-striped" >
 Recieved transactions:
 <tr>
<table style="border: 1px solid black;">
  <th style="padding: 15px;">Date</th>
  <th style="padding: 15px;">Sender AN</th>
  <th style="padding: 15px;">Reciever AN</th>
  <th style="padding: 15px;">Amount</th>
  <th style="padding: 15px;">Transaction ID</th>
 </tr>
{% for transaction in transaction2 %}
<tr>
  <td style="padding: 15px;">{{transaction.pub_date}}</td>
  <td style="padding: 15px;">{{transaction.parent_id}}</td>
  <td style="padding: 15px;">{{transaction.recipient_id}}</td>
  <td style="padding: 15px;">£{{transaction.amount}}</td>
  <td style="padding: 15px;">{{transaction.id}}</td>
  {% endfor %}
  </tr>
 </table>
 </div>
{% endif %}
{% endif %}
{% endif %}
{% endblock content %}

</div>